MYSQL_ROOT_PASSWORD=Bharat_007

EUREKA_DEFAULT_ZONE=http://discovery-server:8761/eureka/

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=learnova_super_secret_key_for_jwt_validation_2026